<!DOCTYPE html>
<html>
    <head>
        <title>note_maker</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
          <link rel="icon" type="image/x-icon" href="./images/3.jpg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">  </head>
    </head>  
    <body>
        <header class="bg-primary">
            <div class="header-content container">
                <a href="/">note_maker</a>
                <!-- <form>
                    <input/>
                    <button class="bg-secondary"><a href="/search/1">Search</a></button>
                </form> -->
            </div>
        </header>
        <main>