<!DOCTYPE html>
<html>
<head>
    <title>Markdown to HTML</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
<body>
   
<ul class="posts">
    <% posts.forEach((post)=> { %>
        <li class="post">
       
            <div class="post-title">
                <img src="<%= post.image %>" alt="Stree Fighter character">
                <a href="/<%= post.link %>" class="post-link" ><%= post.title %></a>
            </div>
    <ul class="post-keywords">
        <% post.keywords.forEach((keyword)=> { %>
            <li class="post-keyword">
                <%= keyword %>     
            </li>
        <% }) %>
    </ul>
        <div class="post-content">
        <%- post.content %>
        </div>
        
        </details>
    <% }) %>
</ul>
 

</tbody>
</table>
</body>
</html>
