<!DOCTYPE html>
<html>
<head>
    <title>Markdown to HTML</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
<body>
    <a href="/">BACK Button</a>
    <h1> <%- title %></h1>
    <div>
        <%- content %>
    </div>
       <ul>
        <% articles.forEach((article)=> { %>
            <li>
                <h2>
                    <%= article.title %>
                </h2>
                <p>
                    <%= article.body %>
                </p>
            </li>
            <hr />
        <% }) %>
    </ul>    
</body>
</html>
