*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
 display: grid;
 place-items: center;
 gap: 40px;
 padding: 10px;
 font-family: Helvetica, sans-serif;
 background-color: hsl(0, 0%, 96%);
}

/* Main page */

/* UL of posts */
.posts {
 width: 100%;
 max-width: 1000px;
}
/* li */
.post{
  border: 1px solid hsl(0, 0%, 96%);
  margin-bottom: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Image and title/link */
.post-title {
  display: flex;
  align-items: center;
  background-color: hsl(217, 71%, 53%);
  color: white;
}


/* Title  */
.post-link{
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin: 10px 10px 10px 20px;
}


.post-keywords{
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px;
  background-color: hsl(171, 100%, 41%);
  color: white;

}

.post-keyword {
  margin-right: 10px;
  font-weight: bold;
}

/* Markdown content as html */
.post-content {
  padding: 30px 10px 10px 10px;
  background-color: white;
}

/* HTML elements */

code {
  font-family: Ubuntu;
  display: block;
  background-color: hsl(203, 16%, 67%);
  color: white;
  border-radius: 6px;
  margin-bottom: 20x;
  padding: 10px;
}

img {
  width: 150px;
  height: 150px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-weight: bold;
}


p {
  font-size: 16px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}






